<%- include('../layouts/header') %>

<div class="container">
    <div class="p-3">
        <% if (errMsg) { %>
            <% errMsg.forEach(errEl => { %>
                <div class="alert alert-danger" role="alert">
                    <%=errEl%>
                </div>
            <% }) %>
        <% } %>
        <h1>Add new course</h1>
        <form action="/courses/add" method="post" class="mt-4">
            <div class="row mb-3">
                <div class="col-lg-6">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="name" name="name">
                    </div>
                </div>
                <div class="col-lg-6">
                    <label for="inputState" class="form-label">Category</label>
                    <select id="inputState" class="form-select" name="CategoryId">
                      <option value="" selected>Choose...</option>
                      <% category.forEach(cat => { %>
                        <option value="<%=cat.id%>"><%=cat.name%></option>
                      <% }) %>
                    </select>
                  </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6">
                    <label for="duration" class="col-sm-2 col-form-label">Duration</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="duration" name="duration">
                    </div>
                </div>
                <div class="col-lg-6">
                    <label for="inputState" class="form-label">User</label>
                    <select id="inputState" class="form-select" name="UserId">
                      <option value="" selected>Choose...</option>
                      <% users.forEach(user => { %>
                        <% if (user.role === 'Teacher') { %>
                          <option value="<%=user.id%>"><%=user.username%></option>
                        <% } %>
                      <% }) %>
                    </select>
                  </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" rows="3" name="description"></textarea>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>

<%- include('../layouts/footer') %>