<%- include('../layouts/header') %>
    <div class="container">
        <div class="p-3">
            <% if (courseName) { %>
                <div class="alert alert-danger" role="alert">
                    Course <%= courseName %> has been deleted!
                </div>
            <% } %>
            <a href="/courses/add" class="btn btn-outline-info">Add Course</a>
            <div class="float-end">
                <form action="/courses?sort" method="get">
                    Sort by Duration
                    <button type="submit" name="sorted" value="ASC" class="btn btn-outline-info">Duration</button>
                    <button type="submit" name="sorted" value="DESC" class="btn btn-outline-info">Category</button>
                </form>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Category</th>
                        <th scope="col">Teacher</th>
                        <th scope="col">Action</th>
                        <th scope="col">Join Now</th>
                    </tr>
                </thead>
                <tbody>
                    <% let no = 1 %>
                    <% courses.forEach(course => { %>
                        <tr>
                            <th scope="row"><%=no++%></th>
                            <td><%= course.name %></td>
                            <td><%= course.description %></td>
                            <td><%= course.duration %></td>
                            <td><%= course.Category.name %></td>
                            <td> <% course.Users.forEach(el => { %>
                                <%= el.username %>
                            <% }) %>
                            <td>
                                <a href="/courses/delete/<%=course.id%>" class="btn btn-outline-danger">Delete</a>
                                <a href="/courses/edit/<%=course.id%>" class="btn btn-outline-success">Edit</a>
                            </td>
                            <td> 
                                <a href="/courses?userId=<%=id%>&courseName=<%=course.name%>&duration=<%=course.duration%>" class="btn btn-primary">Join Class</a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <%- include('../layouts/footer') %>