<%- include('../layouts/header') %>
    <div class="container">
        <div class="p-3">
            <% if (courseName) { %>
                <div class="alert alert-danger" role="alert">
                    Course <%= courseName %> has been deleted!
                </div>
            <% } %>
            <a href="/courses/add" class="btn btn-outline-info">Add Course</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Category</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% let no = 1 %>
                    <% courses.forEach(course => { %>
                        <tr>
                            <th scope="row"><%=no++%></th>
                            <td><%= course.name %></td>
                            <td><%= course.description %></td>
                            <td><%= course.duration %></td>
                            <td><%= course.Category.name %></td>
                            <td>
                                <a href="/courses/delete/<%=course.id%>" class="btn btn-outline-danger">Delete</a>
                                <a href="/courses/edit/<%=course.id%>" class="btn btn-outline-success">Edit</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <%- include('../layouts/footer') %>