<%- include('../layouts/header') %>
<div class="container">
    <div class="p-3">
        <a href="/category/add" class="btn btn-outline-info">Add</a>
        <table class="table">
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            <% dataCategory.forEach((el, i)=> { %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= el.name %></td>
                    <td>
                        <a href="/category/edit/<%= el.id %>" class="btn btn-outline-success">Edit</a>
                        <a href="/category/delete/<%= el.id %>" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
</div>
<%- include('../layouts/footer') %>