<%- include('../layouts/header') %>
    <a href="/detailUser/add" class="btn btn-info">Add</a>
    <table class="table"> 
        <tr>
          <th>No</th>
          <th>Full Name</th>
          <th>Age</th>
          <th>Profile Picture</th>
          <th>Address</th>
          <th>Phone Number</th>
          <th>Action</th>
        </tr>
        <% if (id) { %>
            <tr>
              <td>1</td>
              <td><%= dataDetail.fullName %></td>
              <td><%= dataDetail.age %></td>
              <td><img src="<%= dataDetail.profilePicture %>" alt="dummy image"></td>
              <td><%= dataDetail.address %></td>
              <td><%= dataDetail.phoneNumber %></td>
              <td>
                  <a href="/detailUser/edit/<%= dataDetail.id %>"  class="btn btn-warning" >Edit</a>
                  <a href="/detailUser/delete/<%= dataDetail.id %>" class="btn btn-danger">Delete</a>
              </td> 
        <% } else {%>
          <% dataDetail.forEach((el, i) => { %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= el.fullName %></td>
              <td><%= el.age %></td>
              <td><img src="<%= el.profilePicture %>" alt="dummy image"></td>
              <td><%= el.address %></td>
              <td><%= el.phoneNumber %></td>
              <td>
                  <a href="/detailUser/edit/<%= el.id %>"  class="btn btn-warning" >Edit</a>
                  <a href="/detailUser/delete/<%= el.id %>" class="btn btn-danger">Delete</a>
              </td>
            </tr>
            <% }) %>
          <% } %>
      </table>      
<%- include('../layouts/footer') %>
