<%- include('../layouts/header') %>
<div class="container">
  <div class="p-3">
    <a href="/detailUser/add" class="btn btn-info">Add User Detail</a>
    <table class="table"> 
        <tr>
          <th>No</th>
          <th>Full Name</th>
          <th>Age</th>
          <th>Profile Picture</th>
          <th>Address</th>
          <th>Phone Number</th>
          <th>Action</th>
        </tr>
        <% if (id) { %>
            <tr>
              <td scope="col">1</td>
              <td scope="col"><%= dataDetail.fullName %></td>
              <td scope="col"><%= dataDetail.age %></td>
              <td scope="col"><img src="<%= dataDetail.profilePicture %>" alt="dummy image"></td>
              <td scope="col"><%= dataDetail.address %></td>
              <td scope="col"><%= dataDetail.phoneNumber %></td>
              <td scope="col">
                  <a href="/detailUser/edit/<%= dataDetail.id %>"  class="btn btn-warning" >Edit</a>
                  <a href="/detailUser/delete/<%= dataDetail.id %>" class="btn btn-danger">Delete</a>
              </td> 
        <% } else {%>
          <% dataDetail.forEach((el, i) => { %>
            <tr>
              <td scope="col"><%= i + 1 %></td>
              <td scope="col"><%= el.fullName %></td>
              <td scope="col"><%= el.age %></td>
              <td scope="col"><img src="<%= el.profilePicture %>" alt="dummy image"></td>
              <td scope="col"><%= el.address %></td>
              <td scope="col"><%= el.phoneNumber %></td>
              <td scope="col">
                  <a href="/detailUser/edit/<%= el.id %>"  class="btn btn-warning" >Edit</a>
                  <a href="/detailUser/delete/<%= el.id %>" class="btn btn-danger">Delete</a>
              </td>
            </tr>
            <% }) %>
          <% } %>
      </table>      
  </div>
</div>
<%- include('../layouts/footer') %>