<%- include('../layouts/header') %>

<% if (msg) { %>
    <p style="color: red;"><%= msg %></p>
<% } %>
<form action="/user/edit/<%= userEdit.id %>" method="post">
    <div class="container"> 
        <div class="form-group">
        <label for="username">Enter Username:</label><br>
        <input class="form-control" type="text" id="username" name="username" value="<%= userEdit.username %>"><br>
        <label for="password">Enter Password:</label><br>
        <input class="form-control" type="password" id="password" name="password" value="<%= userEdit.password %>"><br>
        <label for="email">Enter email:</label><br>
        <input class="form-control" type="email" id="email" name="email" value="<%= userEdit.email %>"><br>
        <label for="role">Choose the Role:</label>
        <br><select class="form-select" name="role" id="role">
          <option value="Admin">Admin</option>
          <option value="Teacher">Teacher</option>
          <option value="Student">Student</option>
        </select><br>
        <label for="profilePicture">Enter Profile Picture:</label><br>
        <input class="form-control" type="text" id="profilePicture" name="profilePicture" value="<%= userEdit.profilePicture %>"><br>
        <label for="dateOfBirth">Enter Date of Birth:</label><br>
        <input class="form-control" type="date" id="dateOfBirth" name="dateOfBirth" value="<%= userEdit.dateOfBirth %>"><br>
        
        <button type="submit" value="Submit" class="btn btn-warning"> Edit </button>
        </div>
    </div>
</form> 
<%- include('../layouts/footer') %>