<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show All User</title>
</head>
<body>
    <a href="/user/add">Add</a>
    <table border="1">
        <tr>
          <th>No</th>
          <th>Username</th>
          <th>Password</th>
          <th>Email</th>
          <th>Role</th>
          <th>profilePicture</th>
          <th>Action</th>
        </tr>
        <% dataUser.forEach((el, i) => { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= el.username %></td>
          <td><%= el.password %></td>
          <td><%= el.email %></td>
          <td><%= el.role %></td>
          <td><%= el.profilePicture %></td>
          <td>
              <a href="/user/edit/<%= el.id %>">Edit</a>
              <a href="/user/delete/<%= el.id %>">Delete</a>
          </td>
        </tr>
        <% }) %>
      </table>      
</body>
</html>