<%- include('../layouts/header') %>
<div class="container">
  <div class="p-3">
    <a href="/user/add" class="btn btn-info">Add User</a>
    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Details User</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% dataUser.forEach((el, i) => { %>
        <tr>
          <th scope="col"><%= i + 1 %></th>
          <td scope="col"><%= el.username %></td>
          <td scope="col"><%= el.email %></td>
          <td scope="col"><%= el.role %></td>
          <td>
            <a href="/detailUser/<%= el.id %>" class="btn btn-info"> See Details </a>
          </td>
          <td scope="col">
            <a href="/user/edit/<%= el.id %>" class="btn btn-warning">Edit</a>
            <a href="/user/delete/<%= el.id %>" class="btn btn-danger">Delete</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
      </table>      
    </div>
  </div>
<%- include('../layouts/footer') %>